* {
    margin: 0;
    padding: 0;
}

a:link {
    text-decoration: none;
}

a:link:hover {
    text-decoration: underline;
    text-decoration-color: orange;
}

a:link[href^='http']::before {
    content: "[Arrow] ";
}

#header {
    background-color: darkslategray;
    padding: 15px;
    margin-bottom: 20px;
}

h1 {
    border: 1px solid red;
}

p, .highlight {
    transition: all 0.5s ease-in-out;
}

p:hover {
    color: #EEE;
}

p:hover .highlight{
    padding: 2px;
    background-color: lime;
    color: black;
}

p:hover .extra {
    border-radius: 14px;
    border: 2px solid green;
    box-shadow: 5px 5px lightgray, -5px -5px lightgray;
}

p::selection {
    background-color: black;
    color: lime;
}

[title] {
    cursor: help;
}

p {
    margin-bottom: 50px;
    border-bottom: 2px solid gray;
}
