* {
    margin: 0;
    padding: 0;
}

#header {
    background-color: darkslategray;
    padding: 15px;
}

h1 {
    border: 1px solid red;
}

p, .highlight {
    transition: all 0.5s ease-in-out;
}

p:hover {
    color: #EEE;
}

p:hover .highlight{
    padding: 2px;
    background-color: lime;
    color: black;
}

p:hover .extra {
    border-radius: 14px;
    border: 2px solid green;
    box-shadow: 5px 5px lightgray, -5px -5px lightgray;
}

[title] {
    cursor: help;
}

p {
    margin-bottom: 4px;
}
